:root {
    --azulLogo1: #2c53b2;
    --azulLogo2:#0f9bd7;
    --azulHead: #081b48;
    --azulNav:#1f3b75;
    --azulFondo: #14244a;
    --azulFooter: #040c1d;
    --azulTH: #031132;
    --azulFila: #081b48;
    --azulFilaHover: #07183f;
    --narLogo:#fbb03b;
    --gris: #7d828b;
    --navButonOver:#00ffff18;
    --navPrincipalHover: #102861;
    --bg-rojo: #2b0505;
    --bg-compra: #021d08;
    --bg-venta: #2b0505;
    --bg-verde: #021d08;
    --textoNav: white;
    --textoPort: rgba(255, 255, 255, 0.863);
    --loginLeft: #05112c;
    --greenSicoiner: rgb(25 89 25);
    
    /* color titulos dinámicos */
    --titulo1: white;

    /* Filas */
    --azulBorder:#203d77;
}


/* Aquí empieza el código */




/* ? CSS de Login  */

.login__container {  
    display: flex column; 
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    margin: 0 !important;   
    background-color: var(--loginLeft);
}

.login__left {   
    background-color: var(--loginLeft);   
    width: 100%; 
    height: 100%;   
    display: inline-block;
    overflow: visible; 
}




/* @media(min-width:1119px) {
    .login__header__logo {
        display: flex;
        height: 5rem;
        padding: 0.9rem 0.5rem 1.2rem 0;
    }
} */

.login__header p{
    font-size: 1rem;   
    letter-spacing: 0.25rem;
    opacity: 50%;
    white-space: nowrap;
    margin-top: 0.2rem;
}

.login__form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--loginLeft);  
    color: white;
    overflow: overlay;
}


.login__header {
    display: block;
    color: white;    
    text-align: center;
    padding: 2rem 0;
}

/* .btn-ini-google a{
    display: flex;
    justify-content: center;
} */

.btn-ini-google a button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.5rem;
}

.btn-ini-google a button img{
    margin-right: 0.5rem;
}

@media(min-width:1024px) {
    .login__container {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: repeat(10, 1fr);
    }

    .login__left {
        grid-column: 1 / 5;
        height: 100%;  
        display: inline-block;
    }  

    .login__header {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        line-height: 5rem;
    }

    .login__header__logo {
        display: flex;
        height: 5rem;
        padding: 0.9rem 0.5rem 1.2rem 0;
    }

    .login__form__container {
        display: flex;
        /* flex-direction: column; */
        margin: 15rem 0;
        /* width: 100%; */
        margin-left: 4rem;
        min-width: 100%;
        overflow: visible;
    }

    .login__header p{
        padding: 0.8rem 0 0 0;
        letter-spacing: 0.48rem;
        font-size: 1.7rem;   
        text-align: center;
    }

}



.login__form__header {    
    color: white;
    opacity: 80%;
    width: 100%;
    margin-bottom: 1rem;    
    font-size: 3rem; 
    text-align: center;   
}

.login__form {
    width: 60%;
    margin: 0 0 2rem 25%;
    height: 100%;
    color: white;
    z-index: 1;
}


    
    /* .btn-ini-google a{
        display: flex;
        justify-content: center;
    } */

    .btn-ini-google a button{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.6rem 1rem;
        border: none;
        border-radius: 0.5rem;
    }

    .btn-ini-google a button img{
        margin-right: 0.5rem;
    }



@media(min-width:1024px) {
    .login__container {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: repeat(10, 1fr);
    }

    .login__left {
        grid-column: 1 / 5;
        height: 100%;  
        display: inline-block;
    }     
        
    
}



.login__form {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    color: white;
    z-index: 1;
}



@media(max-width:768px) {
    .login__form {        
        justify-content: center;
        /* width: 80%;  */
        /* margin: 0 0 2rem 20%; */
        display: flex;
        flex-direction: column;
    }
}

.login__form__options {    
    height: 100%;   
}

@media(min-width:1024px) {

    .login__form {
        display: flex column;
        width: 90%;
        height: 100%;
        margin: -5rem 0rem auto 9rem;
    }
    
    .form__header {
        padding: 2rem;
        height: 100%;
        border-radius: 2rem;
        border: 1px solid var(--azulFondo);
    }

    .login__form__options {        
        background-color: var(--azulFooter);
        width: 100%;
        padding: 2rem;
        height: 100%;
        border-radius: 2rem;
    }
    
    .login__form__header {
        /* display: flex;
        justify-content: center; */
        margin: 10rem 0rem -9rem 0;
        color: white;
        width: 100%;
        font-size: 3.5rem;
       /*  margin: 0 0 1rem 0; */
        opacity: 80%;
        text-align: center;
    }
}

.login__form > .login__form__options > div {
    padding: 1rem;
    width: 100%;
}

.login__form .login__form__options div input{  
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 0.5rem ;
    border-radius: 0.5rem;
    width: 80%; 
    background-color: var(--azulLogo1);
    border: none;
    color: white;
    font-size: 1.8rem;
}

    /* @media(min-width:1119px) {
        .login__form .login__form__options div input{   
            width: 80%; 
        }
    } */

/* Este código ayuda a alinear recordarme con el check */
.login__form >
.login__form__options >
.login__form__recordarme {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* margin: 0;
    padding: 0; */
}

.login__form__recordarme p { 
    margin: 0 !important;   
}

input.login__form__check {
    width: 100%;
}










































.login__form__buttons{   
   display: flex;
   justify-content: left;   
}

.login__form__inputs {
    width: 30rem;
}

.login__form__buttons a:last-of-type button{
    margin-left: 1rem;
    background-color: var(--azulLogo1);
    color: white;
}

.login__form__buttons a button{
    width: 12rem;
    border: none;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--narLogo);
    font-size: 1.5rem;
}

.login__form__buttons a button:hover{    
    opacity: 80%;  
}

@media(min-width:1024px) {      
    
    .vl {
        border-left: 0.2rem solid white;
        height: 3.1rem;
        padding: 0 0.3rem;
      }

      
    }
    
.login__form__buttons > a:nth-of-type(1),
.login__form__buttons > a:nth-of-type(2) {
    /* margin: 1rem;  */
    /* display: flex column;  */ 
    justify-content: space-evenly; 
    margin-top: 1rem;
  }


/* ? CSS lado derecho */
/* ? CSS lado derecho */

.login__right {      
    display: flex column; 
    align-items: center;
    background-image: url(../img/bg-login.png);
    min-height: 100%;
    background-size: cover;
    /* background-repeat: no-repeat;   */ 
    background-position: center center; 
    color: white; 
    width: 100%;
}

.login__right__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;    
    padding: 0.5rem;
    margin-left: 6rem;
}

@media(max-width:480px) {    
    
    .login__left {      
        height: 120%;
        display: inline-block;
    }
        
    .login__right {      
        height: auto;
        background-repeat: repeat;  
    }

    .login__form {
        width: 70%;
        margin: auto;
        margin-bottom: 3rem;
    }
    .login__form .login__form__options div input{   
            width: 100%; 
    }

    /* .login__form__buttons a button{
        margin: 1rem;   
        justify-content: center;  
        display: flex;
    } */

    .login__form__buttons > a:nth-of-type(1),
    .login__form__buttons > a:nth-of-type(2) {
        /* margin: 1rem;  */
        /* display: flex column;  */ 
        justify-content: space-evenly; 
    }

    .login__right__info {
        padding-bottom: 3rem;
        max-width: 100% !important;
        word-break: break-word !important;
        padding-right: 2rem;
    }

    .login__right__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
    }

    .login__right__section__text {
        font-size: 1.3rem;
        opacity: 80%;
        margin-bottom: 3rem;
    }


    .login__right__section {
        display: flex;
        line-height: 0rem;
        padding: 1rem 0;
        align-items: center;
        max-width: 100%;
    }
}


@media(max-width:768px) {    

    .login__right__container {
        width: 90%;
        margin: auto;
    }
}


@media(min-width:1024px) {    
    
    .login__right {
        display: flex;
        grid-column: 5 / 11;
    }
}

.login__right__container {
    display: flex column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login__right__header {    
    color: white;  
    text-shadow: 2px 2px 2px black;
    padding: 20px;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.login__right__header h1{
    font-size: 3rem;
    text-align: left;
    opacity: 90%;
    margin-bottom: 2rem;
}

.login__right__header h2{
    font-size: 1.8rem; 
    margin-bottom: 2rem;
    white-space: pre-line;   
}
    
.login__right__header h3{
    font-size: 1.8rem; 
    margin-bottom: 2rem;
    white-space: pre-line;   
}

@media(min-width:768px) {

    .login__right__header {    
        padding-left: 8rem;        
    }
  
    .login__right__header h1{
        margin-top: 2rem;
        font-size: 2.6rem;        
    }
    
    .login__right__header h2{
        font-size: 2rem;   
    }

}

@media(min-width:1024px) {

    .login__right__header {    
        padding-left: 8rem;
        padding-top: 0;
    }
  
    .login__right__header h1{
        font-size: 4rem;        
    }
    
    .login__right__header h2{
        font-size: 2rem;    
    }

}

.login__right__text {
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 0 0 0 2rem;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

@media(min-width:768px) {
    .login__right__text {
        padding:0 0 0 8rem;
    }
}

@media(min-width:1000px) {
    .login__right__text {
        padding-left: 8rem;
    }
}


.login__right__section {
    display: flex;
    line-height: 0rem;
    padding: 1rem 0;
    align-items: center;
}

.login__right__section > svg{
    height: 2.5rem !important;
    width: 2.5rem !important;
}

.login__right__section div{    
    padding: 0 0 0 0rem;
    max-width: 100%;
    word-break: break-word;
}



@media(min-width:768px) {
    .login__right__section > svg{
        height: 3.5rem !important;
        width: 3.5rem !important;
    }
    
    .login__right__section div{    
        padding: 0 0 0 1.8rem;
        font-size: 2.5rem;
    }
}


@media(min-width:1000px) {
    .login__right__section > svg{
        height: 3rem !important;
        width: 3rem !important;
    }    
    
    .login__right__section div{    
        padding: 0 0 0 1.8rem;
        font-size: 2.5rem;
    }    
}    




.login__right__section__text{  
    font-size: 1.7rem;
    opacity: 80%;
    margin-bottom: 3rem;
    margin-left: 0.2rem !important;
}


@media(min-width:768px) {
    .login__right__section__text{  
        font-size: 2rem;
        opacity: 80%;
        margin-bottom: 3rem;
        margin-left: 0.5rem !important;
    }
}

@media(min-width:1000px) {
    .login__right__section__text{  
        font-size: 2rem;
        opacity: 80%;
        margin-bottom: 3rem !important;
        margin-left: 0.5rem !important;
    }    
}    


